@{
    ViewBag.Title = "Dashboard";
}


<div id="page-container" class="sidebar-l sidebar-mini sidebar-o side-scroll header-navbar-fixed">

@Html.Partial("_Sidebar")

@Html.Partial("_Header")

<main id="main-container">

</main>
</div>
