<nav id="sidebar">
    <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 367px;">
            <div id="sidebar-scroll" style="overflow: hidden; width: auto; height: 367px;">
                <div class="sidebar-content">
                    <div class="side-header side-content bg-white-op">
                        <button class="btn btn-link text-gray pull-right hidden-md hidden-lg" type="button" data-toggle="layout" data-action="sidebar_close">
                            <i class="fa fa-times"></i>
                        </button>
                        <div class="btn-group pull-right">
                            <button class="btn btn-link text-gray dropdown-toggle" data-toggle="dropdown" type="button">
                                <i class="si si-drop"></i>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-right font-s13 sidebar-mini-hide">
                                <li class="active">
                                    <a data-toggle="theme" data-theme="default" tabindex="-1" href="javascript:void(0)">
                                        <i class="fa fa-circle text-default pull-right"></i> <span class="font-w600">Default</span>
                                    </a>
                                </li>
                                <li>
                                    <a data-toggle="theme" data-theme="assets/css/themes/amethyst.min.css" tabindex="-1" href="javascript:void(0)">
                                        <i class="fa fa-circle text-amethyst pull-right"></i> <span class="font-w600">Amethyst</span>
                                    </a>
                                </li>
                                <li>
                                    <a data-toggle="theme" data-theme="assets/css/themes/city.min.css" tabindex="-1" href="javascript:void(0)">
                                        <i class="fa fa-circle text-city pull-right"></i> <span class="font-w600">City</span>
                                    </a>
                                </li>
                                <li>
                                    <a data-toggle="theme" data-theme="assets/css/themes/flat.min.css" tabindex="-1" href="javascript:void(0)">
                                        <i class="fa fa-circle text-flat pull-right"></i> <span class="font-w600">Flat</span>
                                    </a>
                                </li>
                                <li>
                                    <a data-toggle="theme" data-theme="assets/css/themes/modern.min.css" tabindex="-1" href="javascript:void(0)">
                                        <i class="fa fa-circle text-modern pull-right"></i> <span class="font-w600">Modern</span>
                                    </a>
                                </li>
                                <li>
                                    <a data-toggle="theme" data-theme="assets/css/themes/smooth.min.css" tabindex="-1" href="javascript:void(0)">
                                        <i class="fa fa-circle text-smooth pull-right"></i> <span class="font-w600">Smooth</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <a class="h5 text-white" href="~/Home/Index">
                            <span class="h4 font-w600 sidebar-mini-hide">LWSupport</span>
                        </a>
                    </div>
                    <div class="side-content">
                        <ul class="nav-main">
                            <li>
                                <a href="~/Home/"><i class="si si-speedometer"></i><span class="sidebar-mini-hide">Dashboard</span></a>
                            </li>
                            <li class="nav-main-heading"><span class="sidebar-mini-hide">Utility Tools</span></li>
                            <li>
                                <a href="~/Utility/TagListEditor"><i class="si si-magnifier"></i><span class="sidebar-mini-hide">Taglist Editor</span></a>
                            </li>
                            <li>
                                <a href="#"><i class="si si-puzzle"></i><span class="sidebar-mini-hide">LWSS Validator</span></a>
                            </li>
                            <li>
                                <a href="~/Utility/LWSupportCalendar/"><i class="si si-calendar"></i><span class="sidebar-mini-hide">LWSupport Roster</span></a>
                            </li>

                            <li>
                                <a class="nav-submenu" data-toggle="nav-submenu" href="#"><i class="si si-users"></i><span class="sidebar-mini-hide">User Control</span></a>
                                     <ul>
                                        <li>
                                            <a href="~/Account/Create/">Add New User</a>
                                        </li>
                                        <li>
                                            <a href="#">Search</a>
                                        </li>
                                    </ul>
                            </li>
                   
                        </ul>
                    </div>
                </div>
            </div>
        <div class="slimScrollBar" style="width: 5px; position: absolute; top: 0px; opacity: 0.35; display: none; border-radius: 7px; z-index: 99; right: 2px; height: 156.980186480187px; background: rgb(255, 255, 255);"></div>
        <div class="slimScrollRail" style="width: 5px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; opacity: 1; z-index: 90; right: 2px; background: rgb(51, 51, 51);"></div>
    </div>
</nav>